html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

header{
  text-align: center;
  height: 20vh;
  width: 100%;

}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 41, 144);
}

div {
  display: flex;
  flex-wrap: wrap;
 
}

#canvas {
  max-height: 800px;
  max-width: 800px;
  /* margin-top: 100px;
  margin-left: auto;
  margin-right: auto; */
  border: solid 5px black
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 10vh;
  width: 100%;
  
}

.twitter-picker{
  height: 100px;
}

button{ 
  font-family: 'Courier New', Courier, monospace;
  height: 30px;
  text-align: center;
  background-color: rgba(195, 195, 255, 0.624);

}